version: "3"

volumes:
  nextcloud:
  db:

services:
  db:
    image: postgres:alpine
    restart: unless-stopped
    volumes:
      - db:/var/lib/postgresql
    environment:
      - TZ="Asia/Kolkata"
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_ROOT_PASSWORD=${POSTGRES_ROOT_PASSWORD}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

  app:
    image: nextcloud:latest
    restart: unless-stopped
    ports:
      - ${HOST_PORT}:80
    links:
      - db
    volumes:
      - nextcloud:/var/www/html
    environment:
      - TZ="Asia/Kolkata"
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=db

