version: "3"

services:
  app:
    image: adguard/adguardhome:beta
    ports:
            - 53:53/tcp
            - 53:53/udp
            - 80:80/tcp
            - 443:443/tcp
            - 443:443/udp
            - 3000:3000/tcp
            - 853:853/tcp
            - 784:784/udp
            - 853:853/udp
            - 8853:8853/udp
            - 5443:5443/tcp
            - 5443:5443/udp

    labels:
      - docker-volume-backup.stop-during-backup=true

    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - "workdir:/opt/adguardhome/work"
      - "confdir:/opt/adguardhome/conf"

    restart: unless-stopped

  backup:
    image: offen/docker-volume-backup:latest
    restart: unless-stopped

    env_file: ./backup.env
    environment:
      - AWS_S3_PATH=${COMPOSE_PROJECT_NAME}
      - BACKUP_STOP_CONTAINER_LABEL=${COMPOSE_PROJECT_NAME}

    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./notifications.tmpl:/etc/dockervolumebackup/notifications.d/notifications.tmpl
      - workdir:/backup/workdir:ro
      - confdir:/backup/confdir:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /${HOME}/backups/${COMPOSE_PROJECT_NAME}:/archive

volumes:
  workdir:
  confdir:


