version: "3"

services:
    AdguardHome:
        container_name: adguardhome
        image: adguard/adguardhome:beta
        ports:
            - 53:53/tcp
            - 53:53/udp
            - ${HOST_PORT_HTTP}:80/tcp
            - ${HOST_PORT_HTTPS}:443/tcp
            - ${HOST_PORT_HTTPS}:443/udp
            - ${HOST_PORT_ADMIN_PANEL}:3000/tcp
            - 853:853/tcp
            - 784:784/udp
            - 853:853/udp
            - 8853:8853/udp
            - 5443:5443/tcp
            - 5443:5443/udp

        environment:
            - TZ="Asia/Kolkata"

        volumes:
            - "workdir:/opt/adguardhome/work"
            - "confdir:/opt/adguardhome/conf"

        restart: unless-stopped

volumes:
    workdir:
    confdir:


