version: "3"
services:
    kopia:
        image: "kopia/kopia:latest"
        container_name: "kopia"
        ports:
            - ${HOST_PORT}:80
        volumes:
            - "/var/run/docker.sock:/tmp/docker.sock:ro"
            - "config/dir:/app/config"
            - "cache/dir:/app/cache"

        restart: unless-stopped
        environment:
            - KOPIA_PASSWORD=${KOPIA_PASSWORD}


