version: "3"
services:
    app:
        image: kopia/kopia:latest
        container_name: "kopia"
        hostname: ${HOSTNAME}
        restart: unless-stopped
        ports:
            - ${HOST_PORT}:51515
        environment:
            - "KOPIA_PASSWORD=${KOPIA_PASSWORD}"
            - "TZ=Asia/Kolkata"
        volumes:
            - "config:/app/config"
            - "cache:/app/cache"
            - "logs:/app/logs"
            - "backup:/app/backup:ro"
        entrypoint: ["/app/kopia", "server", "--insecure", "--address=0.0.0.0:51515", "--override-username=${USERNAME}@${HOSTNAME}", "--server-username=${USERNAME}@${HOSTNAME}", "--server-password=${KOPIA_PASSWORD}"]

volumes:
    config:
    cache:
    logs:
    backup:

