version: "3"

services:
    portainer-ce:
        container_name: portainer
        image: portainer/portainer-ce

        ports:
            - ${HOST_PORT_DEFAULT}:8000
            - ${HOST_PORT_ADMIN}:9000

        environment:
            - TZ="Asia/Kolkata"

        restart: unless-stopped

        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock"
            - "data:/data"

volumes:
    data:
