version: '3'

services:
    nginx-proxy-manager:
        container_name: "nginx-proxy-manager"
        image: "jc21/nginx-proxy-manager:latest"

        ports:
            - ${HOST_PORT_HTTP}:80
            - ${HOST_PORT_HTTPS}:443
            - ${HOST_PORT_MAIN}:81


        environment:
            - TZ="Asia/Kolkata"

        restart: unless-stopped

        volumes:
            - "data:/data"
            - "letsencrypt:/etc/letsencrypt"

volumes:
    data:
    letsencrypt:

